.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    /* background-color: grey; */
    width: 100%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .turnos {
    /* background-color: green; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

h4, h5 {
    text-align: center;
}

/* p {
    background-color: brown;
} */

.tomorrow {
    width: 200px;
    height: 180px;
    padding: 5px;
    background-color: rgb(129, 193, 245);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
}

.evening {
    width: 200px;
    height: 180px;
    padding: 5px;
    background-color: rgb(248, 198, 34);
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
}

.btn {
    width: 100%;
    height: 50px;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.lugar {
    text-align: center;
    font-size: 13px;
}
