.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.content {
    background-color: grey;
    width: 90%;
    height: 400px;
    border-radius: 8px;
  }

h4, h5, p {
    text-align: center;
}

.tomorrow {
    width: 250px;
    height: 150px;
    background-color: green;
    border: 2px solid red;
}

.evening {
    width: 250px;
    height: 150px;
    background-color: green;
    border: 2px solid red;
}


