.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    margin-bottom: 20px;
}

.shares {
    border: solid 2px #6462ec;
    width: 80%;
    height: 130px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.date {
    text-align: left;
    padding-left: 8px;
}