.container {
    width: 100%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
}

.containerDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.participant {
    width: 100%;
    margin-top: 60px;
    /* background-color: green; */
}

.days {
    min-width: 35px;
    /* margin: 1px; */
    height: 35px;
    background-color: white;
    overflow: scroll;
    border-radius: 3px;
    border: solid 1px rgb(100, 98, 236);
    margin: 1px;
}

.days:hover {
    background-color: rgb(100, 98, 236);
    opacity: 0.8;
    transition: 300ms;
}

.days::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}