.containerDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1px;
    height: auto;
    background-color: grey;
}