.dayNum {
    width: 8px;
    height: 8px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2px; */
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    margin: 0px;
}

.dayNum:hover {
    opacity: 0.8;
    transition: 300ms;
    /* margin-top: -1px; */
    background-color: white !important;
}

h2 {
    font-size: 12px;
}

.titleFestivity, .titleActivity {
    margin: 0px;
    font-size: 7.5px;
    border-radius: 3px;
    color: black;
    text-align: center;
}

.titleFestivity {
    background-color: green;
}

.titleActivity {
    background-color: rgb(209, 52, 209);
}