.dayNum {
    /* width: 8px;
    height: 8px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
    margin: 0px; */
    font-size: 8px;
    width: 100%;
    text-align: center;
}

.dayNum:hover {
    opacity: 0.8;
    transition: 300ms;
    background-color: white !important;
}

.titleFestivity, .titleActivity {
    width: 100%;
    font-size: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleFestivity {
    background-color: rgb(235, 54, 54);
}

.titleActivity {
    background-color: rgb(216, 80, 216);
}
