.dayNum {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: inline;
    text-align: center;
    float: right;
    margin: 2px;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;
}

.dayNum:hover {
    opacity: 0.8;
    transition: 300ms;
    margin-top: -1px;
    background-color: red !important;
}
